<table class="table table-striped table-dark">
    <thead> 
        <tr>
            <th scope="col">Domain Type</th>
            <th scope="col">Count</th>
        </tr>
    </thead>    
    <tbody>
        <% for(domain in domainTypesCount[0]) {%>
            <tr>
                <td><%= domain %></td>
                <td><%= domainTypesCount[0][`${domain}`]%></td>
            </tr>
        <% } %>
    </tbody>
</table>