<select class="custom-select" id="ispSelector" multiple>
    <% for(let i=0; i<distinctIsp.length; i++) {%>
         <option id="<%= i %>" value="<%= distinctIsp[i] %>"><%= distinctIsp[i]%></option>
    <% } %>
</select>