html, body, #intro {
    height: 100%;
    width: 100%;
}

.navbar {
    background-color: #3c494d;
    padding: 0.7rem ;
}

#home {
	background: url(/images/white-background.jpg) no-repeat center center fixed;
	display: table;
	height: 100%;
	width: 100%;
	position: relative;
	background-size: cover;
}

.welcome-text{
    display: table-cell;
    text-align: center;
    padding-top: 10rem;
}

.welcome-text h3{
    font-size: 3rem;
    font-weight: 1;
    text-shadow: 1px 1px 1px #e0e0e0;
    color: #2d2d2d;
}

